<div class="container">
  <div class="container__control">
    <button
      class="button button__primary"
      type="button"
      routerLink="/client/register-client"
    >
      Agregar cliente
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Apellidos</td>
        <td>Fecha de Nacimiento</td>
        <td>Edad</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listClients">
        <td>{{ item.name }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.dateBirth | date: "dd-MM-yyyy" }}</td>
        <td>{{ item.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
