<div class="container">
  <h1>Análisis de Clientes</h1>
  <div class="container__card">
    <app-card-average
      [title]="titleTotalCustomers"
      [data]="totalCustomers"
    ></app-card-average>
    <app-card-average
      [title]="titleAverage"
      [data]="average"
    ></app-card-average>
    <app-card-average
      [title]="titleStandardDeviation"
      [data]="standardDeviation"
    ></app-card-average>
    <app-card-average
      [title]="titleHourlyCustomers"
      [data]="hourlyCustomers"
    ></app-card-average>
  </div>
  <div class="container__graphic">
    <div class="graphic">
      <app-range-age
        title="Cantidad de Clientes por Rango de Edades"
        [data]="listClients"
      ></app-range-age>
    </div>
    <div class="graphic">
      <app-register-by-hour
        title="Cantidad de Clientes por Hora del día"
        [data]="listClients"
      ></app-register-by-hour>
    </div>
  </div>
</div>

<app-modal-information [message]="messageModal"></app-modal-information>
