/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

html,
body {
  margin: 0px;
}

.input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5715;
  background-color: $white;
  background-image: none;
  border: 1px solid $gray-200;
  border-radius: 2px;
  outline: 0;

  &__disabled {
    background-color: $gray-100;
  }
}

.button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  outline: 0;

  &__primary {
    background: $primary-color;
    color: $white;
  }

  &__secondary {
    background: $gray-200;
  }
}
