/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

html,
body {
  margin: 0px;
}

.input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5;
  background-color: $white;
  border: 1px solid $gray-200;
  border-radius: 2px;
  outline: 0;

  &__disabled {
    background-color: $gray-100;
  }
}

.button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: $black;
  font-weight: 600;
  outline: 0;

  &__primary {
    background: $primary-color;
    color: $white;
  }

  &__secondary {
    background: $gray-200;
  }
}

.table {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $black;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  font-size: 14px;
  border: 1px solid $gray-200;
  border-radius: 2px;
  border-collapse: collapse;

  thead {
    background: $gray-200;
    border: none;
    font-weight: 700;
  }

  td {
    padding: 15px;
    text-align: center;
  }

}
